<!DOCTYPE html>
<html>
<head>
    <title>Index page</title>
    <meta name="author" content="Fran Šribar">
    <meta name="decription" content="Skup podataka koji sadrži neke od Netflix serija">
    <meta name="keywords" content="shows, actors">
    <meta name="language" content="hrvatski, engleski">
    <meta name="licence" content="Creative Commons Zero v1.0 Universal">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/index.css">
</head>
<body>
   <h1> Netflix serije </h1>

   <h3>Skup podataka sadrži neke od TV serija koje se mogu pronaći na Netfix streaming servisu.
     Unutar skupa podataka nalaze se općenite informacije odabranih serija.</h3>
    <ul>
        <li><a href="../static/data/shows.csv" download><span class="preuzmi">CSV Format</span></a></li>
        <li><a href="../static/data/shows.json" download>JSON Format</a></li>
    </ul>

    <button id="redirectToDatatable">Go to Datatable Page</button>
    <button id="listBtn">List of All TV Shows</button>
    <button id="actorsBtn">List of All Actors</button>

    <script>
        $(document).ready(function() {
            $('#redirectToDatatable').on('click', function() {
                window.location.href = '/datatable';
            });
        });

        $(document).ready(function() {
            $('#listBtn').on('click', function() {
                window.location.href = '/showsList';
            });
        });
        $(document).ready(function() {
            $('#actorsBtn').on('click', function() {
                window.location.href = '/actorsList';
            });
        });
    </script>

</body>
</html>